<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head  th:replace="static/head::head">
    <meta charset="utf-8">
  </head>
  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header th:replace="static/layout::header"></header>
    <div class="app-body">
      <div th:replace="static/layout::sidebar"></div>
      <div class="main">
        <ol  th:replace="static/layout::breadcrumb" class="breadcrumb"></ol>
        <div class="container-fluid">
          <div class="animated fadeIn">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">Trang chủ</div>
                  <div class="card-body">
                  	Phiên đăng nhập của: <b><span th:text="${session.userSession.username}"></span></b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer th:replace="static/layout::footer"></footer>
    <div th:replace="static/script::script"></div>
  </body>
</html>
